body {
  padding-top: 50px;
}
.starter-template{
  padding: 40px 15px;
  text-align: center;
}

.product_row{
  border-bottom: 1px solid black
}

.product_img{
  max-width: 200px;
  max-height: 200px;
  padding: 10px;

}

.admin-list{
  padding: 40px 15px;
  text-align: left;
}

.ng-invalid{
  border: 1px solid red;

}
