<div class="starter-template">
  <div ng-if="!$ctrl.products.length">
    <p>There is no products!</p>
  </div>
  <div ng-if="$ctrl.products.length">
    <div class="product_row row" ng-repeat="row in $ctrl.productRows">
      <div class="col-md-3" ng-repeat = '(key, product) in row'>
        <img class="product_img" ng-src="{{product.img}}" alt="product_img">
        <h3 class = 'product_name'>{{product.name}}</h3>
        <p>{{product.price}}</p>
        <a href="#product/{{product.id}}">View</a>
      </div>
    </div>
  </div>
</div>
